/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(204, 204, 204, 0.8); /* Using rgba with 0.8 alpha for transparency */
  margin-bottom: 0; /* Ensure no margin at the bottom */
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
  cursor: pointer;
  padding: 5px 10px; /* Adding padding for better hover effect */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  position: relative; /* Ensure relative positioning for dropdown */
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}
.header nav ul li button {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li:hover {
  background-color: #666; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.profile-menu .dropdown {
  display: none; /* Hide the dropdown menu by default */
  position: absolute;
  top: 100%; /* Position it below the profile button */
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.profile-menu .dropdown li {
  padding: 10px;
  cursor: pointer;
}

.profile-menu .dropdown li a,
.profile-menu .dropdown li button {
  color: #333;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
  display: block;
  width: 100%;
  text-align: left;
}

.profile-menu .dropdown li a:hover,
.profile-menu .dropdown li button:hover {
  background-color: #ddd;
}

.profile-menu:hover .dropdown {
  display: block; /* Show the dropdown menu on hover */
}

.cart {
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s; /* Add smooth transition for hover effects */
}

.cart-icon:hover {
  transform: scale(1.1); /* Slightly increase the size on hover */
  filter: brightness(1.2); /* Brighten the icon on hover */
}
