/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  background-image: url('src/Assets/homeBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}
